.text_field {
  width: 100%;
  height: calc(var(--index) * 1.7476);
  background: var(--formBackColor);
  box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.24),
    -1px -3px 3px rgba(63, 74, 96, 0.42);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text_field_active {
}
.text_field_input {
  height: calc(var(--index) * 1.3);
  width: 85%;
  border-radius: 100px;
  background-color: transparent;
  padding-left: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: var(--font20px);
  line-height: calc(var(--index) * 2);
  color: var(--white);
  border: none;
}
.text_field_input:focus {
  outline: none;
}

.text_field_icon {
  cursor: pointer;
  width: calc(var(--index) / 1.46);
  height: calc(var(--index) / 1.46);
  margin-right: 15px;
}
