:root {
  --index: calc(1vh + 1vw);
  --mainColor: #28303f;
  --formBackColor: rgba(79, 94, 121, 0.58);
  --formBackColorHover: #36c3ff;
  --white: #ffffff;
  --contentWidth: 70.1%;
  --font32px: calc(var(--index) / 0.8);
  --font20px: calc(var(--index) / 1.3);
  --font19px: calc(var(--index) / 1.36);
  --font18px: calc(var(--index) / 1.44);
  --font17px: calc(var(--index) / 1.52);
  --font16px: calc(var(--index) / 1.62);
  --font15px: calc(var(--index) / 1.7);
  --trans01s: 0.1s;
}

html,
body {
  margin: 0;
  padding: 0;
}
.App {
  width: 100%;
  height: 2258px;
  background: var(--mainColor);
  margin: 0 auto;
  padding-top: calc(var(--index) * 0.6);
}
